* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "Comfortaa", sans-serif;
   background-color: #FAFAFF;
   font-weight: 400;
}

/* img {
    max-width: 30px;
    max-height: 30px; 
} */

.app {
    display: flex;
}

.panel {
    background: white;
    min-height: 100vh;
    padding: 30px;
}

.logo {
    margin-bottom: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__item {
    background: purple;
    box-shadow: 0px 8px 14px rgba (62, 107, 224, 0.12);
    border-radius: 14px;
    border: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.menu__item img {
    max-width: 30px;
    max-height: 30px;
}

.menu__item:hover { 
    background: orange;
    border: 3px solid #000000;
}

.menu__item:hover img { 
    filter: brightness(1) invert(1);
}

.menu__item_active {
    background: rgb(50, 125, 211);
    border: 3px solid #000000;
}

.menu__add {
    background: none;
    border: 1px solid #CAD5FF;
    border-radius: 14px;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.menu__add:hover {
    background: orange;
    border: 3px solid #000000;
}

.menu__add:hover img { 
    filter: drop-shadow(0px 0px 0px black);
}

.content { 
    min-width: 900px;
    padding: 45px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 235px;
}

.progress__text {
    display: flex;
    justify-content: space-between;
}

.progress__bar {
    width: 100%;
    background: #E6E9ED;
    border-radius: 4px;
    height: 5px;
    position: relative;
}

.progress__cover-bar {
    position: absolute;
    /* width: 50%; */
    height: 5px;
    background: #3a73bd;
    border-radius: 4px;
    transition: all 0.3s;
}

.main {
    margin-top: 30px;
}

.habbit {
    background: white;
    border-radius: 10px;
    display: flex;
    /* margin: auto; */
    /* text-align: center; */
    align-items: center;
    /* gap: 200px; */
    margin-bottom: 12px;
}

.habbit__day {
    background: #FBFAFF;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #E7EBFB;
    padding: 20px 40px;
    min-width: 150px;
}

.habbit__comment {
    text-align: center;
    padding: 20px 25px;
}

.habbit__delete {
    background: none;   
    border: none;
    /* height: 20px;
    width: 20px; */
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px;
}

.habbit__delete:hover {
    filter: brightness(1) invert(1);
    /* background: #05586d; */
}

.close {
    height: 20px;
    width: 20px; 
    filter: brightness(0.7) hue-rotate(240deg);
}

input::placeholder {
    color: #8899A8;
    /* color: red; */
}

input.error {
    border: 1px solid red; 
}

.habbit__form {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 0px 15px 0 25px;
    position: relative;
}

.input_icon {
    background: white;
    border: 1px solid #E7EBFB;
    border-radius: 9px;
    padding: 12px 20px;
    font-family: "Comfortaa", sans-serif;
    padding-left: 45px;
    width: 100%;
}

.input__icon {
    position: absolute;
    top: 10px;
    left: 45px;
    height: 20px;
    width: 20px;
}

.habbit__add {
    background: none;   
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Comfortaa", sans-serif;
}

.habbit__add:hover {
    background: #23bde4;
    color: #FAFAFF;
}

button {
    background: none;   
    border: none;
    cursor: pointer;
}

.icon img {
    max-width: 30px;
    max-height: 30px;
}

.icon:hover img {
    filter: brightness(1) invert(1);
}

.cover {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover_hidden {
    display: none;
}

.pop-up {
    background: white;
    box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.55);
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop-up__close {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background: none;
}

.icon-label {
    font-size: 14px;
    line-height: 16px;
    color: #768396;
    margin-bottom: 10px;
    margin-top: 5px;
}

.icon-select {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.icon {
    background: purple;
    box-shadow: 0px 8px 14px rgba (62, 107, 224, 0.12);
    border-radius: 14px;
    border: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.icon_active {
    background: rgb(50, 125, 211);
    border: 3px solid #000000;
}

.icon:hover { 
    background: orange;
    border: 3px solid #000000;
}

.icon:hover img { 
    filter: brightness(1) invert(1);
}

.pop-up__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.pop-up__add {
    background: none;   
    border: none;
    cursor: pointer;
    /* margin-left: auto; */
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Comfortaa", sans-serif;
}

.pop-up__add:hover {
    background: #23bde4;
    color: #FAFAFF;
}